* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

.navbar {
    opacity: 97%;
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 20px 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;
}

.inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.navbar .inner-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 30px;
    height: 35px;
    background-image: url(../Img/Rich.png);
    background-size: contain;
}

.menu-toggler span {
    display: block;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.menu-toggler {
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.navbar-menu a {
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
}

.navbar-menu a:hover {
    color: #48dbfb
}

p {
    color: gray;
}

.box{
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 1rem #00000025 inset;
}

.grid-responsive{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

